.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

*.scn
*.png
*.ai
*.html
*.raw
*.mzML
*.tif
~$*
*.nrrd

analysis/figures
analysis/carnival
data-raw/glucose
data-raw/lactate
data-raw/mims/.tmp


/.quarto/
